.hello{
	&__container{
		padding: 125px 30px 70px 30px;
		flex-direction: row;
		@media(max-width: 612px){
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 30px 30px 40px 30px;
			text-align: center;
		}
		justify-content: space-between;
	}
	&__content{
		max-width: 490px;
		margin: 0px 0px 0px 0px;
		flex: 0 1 auto;
		flex-direction: column;
		
		@media(max-width: 612px) {
				align-items: center;
				order: 2;
		}
	}
	&__avatar{
		display: flex;
		padding: 0px 0px 0px 50px;
		@media(max-width: 612px) {
				align-items: center;
				order: 1;
				padding: 0px 0px 43px 0px;
		}
		
		img{
			width: 243px;
			height: 243px;
		}
		
	}
	&__title{
		@media(max-width: 612px) {
				align-content: center;
				text-align: center;
		}

	}
	&__text{
		padding: 40px 0px 40px 0px;
		
		@media(max-width: 612px) {
				align-content: center;
				text-align: center;
		
			}
	}
	&__btn{
		@media(max-width: 612px) {
				align-content: center;
				justify-content: center;
				
			}
	}
}

.title{
	font-family: 'Heebo';
	color: $dark;
	font-weight: 700;
	font-size: 44px;
	line-height: 60 / 44 * 100%;
	@media(max-width: $md4){
		font-size: 32px;
	}
}
.text{
	font-family: 'Heebo';
	color: $dark;
	font-weight: 400;
	font-size: 16px;
	line-height: 24 / 16 * 100%;
}
.btn{
	background-color: $pink;
	border-radius: 5px;
	display: inline-flex ;
	padding: 0px 20px 2px 20px;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 29 / 20 * 100%;
	height: 47px;
	font-size: 20px;
	font-family: "Heebo";
	font-weight: 500;
	color: white;
	&:hover{
		background: darken($color: $pink, $amount: 5%);
		transition: background-color 0.25s ease 0.1s;
	}
}
.recent-posts{
	background-color: $blue;
}
.recent-posts__container {
	display: flex;
	flex-direction: column;
	padding: 0px 30px;
	@media(max-width: 612px){
		padding: 0px 11px;
	}
}
.recent-posts__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@media(max-width: 612px) {
		justify-content: center;
		flex-direction: column;
	}
	align-items: center;
	
}
.recent-posts__title {
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 22px;
	line-height: 60px;
	@media(max-width: $md4){
		font-size: 18px;
	}
}
.recent-posts__view-all {
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $bluelink;
	&:hover{
		text-decoration: underline;
	}
	@media(max-width: 612px) {
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		top: -200%;
	}
}
.recent-posts__items {
	display: flex;
	flex-direction: row;
	@media(max-width: 612px){
		flex-direction: column;
	}
	justify-content: space-between;
	margin: 0px 0px 32px 0px;
}
.recent-posts__item-1 {
	background-color: white;
	margin: 0px 5px 0px 0px;
	@media(max-width: 612px){
		margin: 0px 0px 10px 0px;
	}
	padding: 35px 37px 35px 23px;
	border-radius: 4px;
}
.recent-posts__item-2 {
	background-color: white;
	margin: 0px 0px 0px 5px;
	@media(max-width: 612px) {
		margin: 0px 0px 0px 0px;
	}
	padding: 35px 37px 35px 23px;
	border-radius: 4px;
}
.title-item {
	font-family: 'Heebo';
	font-weight: 700;
	font-size: 26px;
	line-height: 38 / 26 * 100%;
	padding: 0px 0px 32px 0px;
	@media(max-width: 612px){
		padding: 0px 0px 23px 0px;
	}
	@media(max-width: $md4){
		font-size: 22px;
		
	}
}
.descrption-item {
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 18px;
	line-height: 26 / 18 * 100%;
	@media(max-width: $md4){
		font-size: 16px;
	}
}
.description-text {
	padding: 11px 0px 5px 0px;
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 16px;
	line-height: 24 / 16 * 100%;
}

.featured-works {
	margin: 0px 0px 79px 0px;

}

.featured-works__container {
	display: flex;
	flex-direction: column;
	padding: 0px 30px;
	@media(max-width: 612px) {
	padding: 0px 11px;
	}
}
.featured-works__title {
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 22px;
	padding: 38px 0px 10px 0px;
	@media(max-width: $md4){
		font-size: 18px;
		text-align: center;
		padding: 27px 0px 27px 0px;
	}
}
.featured-works__item-1 {
	display: flex;
	flex-direction: row;
	padding: 35px 0px 35px 0px;
	@media(max-width: $md4) {
		flex-direction: column;
		padding: 0px 0px 25px 0px;
		border-bottom: 1px solid $gray;
		margin: 0px 0px 150px 0px;
	}
	@media(max-width: 674px){
		flex-direction: column;
	}
}
.featured-works-image {
	padding: 0px 18px 0px 0px;
	@media(max-width: $md4) {
		
		padding: 0px 0px 0px 0px;
	}
}
.featured-works-image img{
	@media(max-width: $md4){
		width: 100%;
	}
	@media(max-width: 674px) {
		flex-direction: column;
		width: 100%;
		padding: 0px 0px 17px 0px;
	}
}
.featured-works-info {
	flex-direction: column;
}
.title-info {
	font-family: 'Heebo';
	font-weight: 700;
	font-size: 30px;
	padding: 0px 0px 25px 0px;
	@media(max-width: $md3){
		font-size: 24px;
		padding: 0px 0px 15px 0px;
	}
	@media(max-width: $md4) {
		font-size: 24px;
		padding: 22px 0px 22px 0px;
	}
}

.info__sd {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 0px 20px 0px;
	@media(max-width: $md3){
		padding: 0px 0px 10px 0px;
	}
}
.sd-info__date {
	font-family: 'Heebo';
	font-weight: 900;
	font-size: 18px;
	padding: 3.5px 10px 3.5px 10px;
	margin: 0px 26px 0px 0px;
	background-color: #142850;
	border-radius: 12.5px;
	color: white;
	@media(max-width: $md4) {
		font-size: 16px;
	}
}
.sd-info__type {
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 20px;
	color: $gray;
	margin: 0px 0px 0.9px 0px;
	@media(max-width: $md4) {
		font-size: 16px;
	}
}
.description-info {
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.featured-works__item-2 {
	display: flex;
	flex-direction: row;
	padding: 35px 0px 35px 0px;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	@media(max-width: $md4) {
		position: absolute;
		top: -200%;
		visibility: hidden;
	}
	@media(max-width: 674px) {
		flex-direction: column;
	}
}
.featured-works__item-3 {
	display: flex;
	flex-direction: row;
	padding: 35px 0px 35px 0px;
	@media(max-width: $md4) {
		position: absolute;
		top: -200%;
		visibility: hidden;
	}
	@media(max-width: 674px) {
		flex-direction: column;
	}
}
.footer__container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px 30px;
}
.footer__icons{
	flex-direction: row;
	text-align: center;
	padding: 0px 0px 28px 0px;
	a:not(:last-child){
		padding: 0px 37px 0px 0px;
		@media(max-width: 320px){
			padding: 0px 15px 0px 0px;
		}
	}
}
.footer__text{
	font-family: 'Heebo';
	font-weight: 400;
	font-size: 14px;
	@media(max-width: 320px) {
		font-size: 10px;
	}
	text-align: center;
}